.blog{
    margin-top: 100px;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

@media screen and(max-width:576px) {
    .blogs{
        grid-template-columns: repeat(1,1fr);
    }
}